# correlations

In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset("titanic")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [4]:
a=df[["age","fare","survived"]]

In [5]:
a.corr()                    

# 0 to 0.19     #  very weak relation
# 0.20 to 0.39     # weak coraltion
# 0.40 to 0.59     # moderate relationship 
# 0.60 to 0.79     # strong coor
# 0.80  to 1       # very strong realtion 

# inverse 

# -0.2              # weak 
# -0.4              
# -0.6
# -0.8
# -1               # very strong negative corealtion


# 0.09      # weak  corraltrion
# 0.012
# 0.032


# -0.023
# -0.045

               age      fare  survived
age       1.000000  0.096067 -0.077221
fare      0.096067  1.000000  0.257307
survived -0.077221  0.257307  1.000000

age=age         # 1  perfect relationship  
fare=fare